<header class="main_header">
    
    <div class="inner_header">

        <div class="head_top">
            <div class="logo_container">
                <a href="/"><h1>My <span>movies</span></h1></a>
            </div>
        
            <div class="menu_toggle hide">
                <div class="menu_lines">
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                </div>
            </div>
        </div>
        


        <ul class="navigation">
            
                <li><a href="/movies" class="<%= path=='/movies'?'active':'' %>">Movies</a>
                </li>
                <li><a href="/directors" class="<%= path=='/directors'?'active':'' %>">Directors</a>
                </li>
            
            <% if (!isLoggedIn) { %>
                
                    <li><a href="/login" class="<%= path=='/login'?'active':'' %>">Login</a></li>
                    <li><a href="/sign-up" class="<%= path=='/sign-up'?'active':'' %>">Sign up</a></li>
                    <li><a href="/reset" class="<%= path=='/reset'?'active':'' %>">Reset password</a></li>

                <% } 
            else{ %>
                
                    <li><a href="/watched-movies" class="<%= path=='/watched-movies'?'active':'' %>">Watched</a></li>
                
                
                    <li><a href="/wish-list" class="<%= path=='/wish-list'?'active':'' %>">Wish</a></li>
                
                
                    <li><a href="/movies/add" class="<%= path=='/movies/add'?'active':'' %>">Add movies</a></li>
                
                
                    <li><a href="/directors/add" class="<%= path=='/directors/add'?'active':'' %>">Add directors</a></li>
                
                
                    <li>
                        <form action="/logout" method="post">
                            <button class="nav_button">Logout</button>
                        </form>
                    </li>
            <% } %>
        </ul>

        
        <ul class="navigation_mobile hide">
            
                <li><a href="/movies" class="<%= path=='/movies'?'active':'' %>">Movies</a>
                </li>
            
        
            
                <li><a href="/directors" class="<%= path=='/directors'?'active':'' %>">Directors</a>
                </li>
            
            <% if (!isLoggedIn) { %>
                
                    <li><a href="/login" class="<%= path=='/login'?'active':'' %>">Login</a></li>
                
                
                    <li><a href="/sign-up" class="<%= path=='/sign-up'?'active':'' %>">Sign up</a></li>

                    <li><a href="/reset" class="<%= path=='/reset'?'active':'' %>">Reset password</a></li>
                <% } 
            else{ %>
                
                    <li><a href="/watched-movies" class="<%= path=='/watched-movies'?'active':'' %>">Watched</a></li>
                
                
                    <li><a href="/wish-list" class="<%= path=='/wish-list'?'active':'' %>">Wish</a></li>
                
                
                    <li><a href="/movies/add" class="<%= path=='/movies/add'?'active':'' %>">Add m</a></li>
                
                
                    <li><a href="/directors/add" class="<%= path=='/directors/add'?'active':'' %>">Add d</a></li>
                
                
                    <li>
                        <form action="/logout" method="post">
                            <button class="nav_button">Logout</button>
                        </form>
                    </li>
            <% } %>
        </ul>    
    </div>
    <script src="/scripts/drop-down-menu.js"></script>
</header>